<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
        {% include 'meta.html' %}
    {% endblock %}
    {% include '_partial/_statics.html' %}
    {% load static %}
    {% block favicon %}<link href="{% static 'img/favicon.ico' %}" rel="icon">{% endblock %}
    {% block head %}{% endblock %}
</head>
<body>
{% block context %}
{% endblock %}

{% block footer %}
    {% include '_partial/_footer.html' %}
{% endblock %}

{% include '_partial/_scripts.html' %}
{% block scripts %}
{% endblock %}
</body>
</html>